In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("covid_19_data.csv")

In [3]:
df.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [4]:
grouped_mean = df.groupby('Country/Region')['Confirmed'].mean()

In [5]:
print(grouped_mean)

Country/Region
 Azerbaijan                           1.000000
('St. Martin',)                       2.000000
Afghanistan                       36933.713666
Albania                           44225.657718
Algeria                           60183.386957
                                      ...
West Bank and Gaza                97254.520930
Yemen                              2318.231325
Zambia                            30808.111872
Zimbabwe                          14872.892202
occupied Palestinian territory        3.571429
Name: Confirmed, Length: 229, dtype: float64

In [6]:
############### reading data ##################3

In [12]:
Data = '[{"name":"atharva", "email":"atp1233", "num": "1233445678"}]'

In [13]:
from io import StringIO

In [14]:
df = pd.read_json(StringIO(Data))

In [15]:
df

      name    email         num
0  atharva  atp1233  1233445678

In [16]:
df.to_json()

'{"name":{"0":"atharva"},"email":{"0":"atp1233"},"num":{"0":1233445678}}'