In [1]:
import sqlite3

In [3]:
connection = sqlite3.connect('example.db')

In [4]:
connection

In [5]:
cursor = connection.cursor()

In [6]:
cursor

In [7]:
#### create a table ####

cursor.execute('''
Create table if not exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    dept Text
    )
''')

#### Commit the changes
connection.commit()

In [8]:
cursor.execute('''
    Select * from employees
''')

In [10]:
#### insert data ####

cursor.execute('''
    Insert into employees(name, age, dept)
            values("krish", 25, "mech")
''')

cursor.execute('''
    Insert into employees(name, age, dept)
            values("krish2", 35, "cs")
''')

cursor.execute('''
    Insert into employees(name, age, dept)
            values("krish3", 45, "entc")
''')


connection.commit()

In [13]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'krish', 25, 'mech')
(2, 'krish2', 35, 'cs')
(3, 'krish3', 45, 'entc')
(4, 'krish', 25, 'mech')
(5, 'krish2', 35, 'cs')
(6, 'krish3', 45, 'entc')

In [16]:
cursor.execute('''
    update employees
        set age = 34
        where name = "krish"
''')

connection.commit()

In [17]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'krish', 34, 'mech')
(2, 'krish2', 35, 'cs')
(3, 'krish3', 45, 'entc')
(4, 'krish', 34, 'mech')
(5, 'krish2', 35, 'cs')
(6, 'krish3', 45, 'entc')

In [18]:
#### Delete the data###

cursor.execute('''
    delete from employees
        where name = 'krish2'
''')

connection.commit()

In [19]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'krish', 34, 'mech')
(3, 'krish3', 45, 'entc')
(4, 'krish', 34, 'mech')
(6, 'krish3', 45, 'entc')

In [ ]:
#### working with sales data ####